<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[title]</title>
    <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@400&display=swap" rel="stylesheet">
    <style>
        .details-container {
            border: 1px solid #dddddd;
            border-radius: 10px;
            padding: 15px;
            margin-top: 20px;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<!-- WRAPPER TABLE (CONTAINER) -->
<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #dddddd;">
    <tr>
        <td align="center">
            <!-- REAL TABLE -->
            <table width="640" cellspacing="0" cellpadding="0" style="width: 100%; max-width: 640px; padding: 20px;
            background-color: white; border-radius: 10px; overflow: hidden; border: 1px solid #dddddd7d; outline: 0.8px solid #30303005">
                <!-- HEADER -->
                <tr>
                    <td bgcolor="#2D58A7" align="center"
                        style="padding: 15px; color: white; font-size: 24px; font-weight: bold; border-radius: 10px 10px 0 0; overflow: hidden;">
                        <span th:text="@{${title}}">[title]</span>
                    </td>
                </tr>
                <!-- CONTENT -->
                <tr>
                    <td style="padding: 15px; font-size: 16px; color: #333;">
                        <p style="margin: 0;">Dear <span th:text="@{${user}}">[user]</span>,</p>

                        <p>
                            <span th:if="${credentialStatus == 'REVOKED'}">
                                <span th:text="@{${organization}}">[organization]</span> has revoked your credential. Details regarding the revoked credential are listed below:
                            </span>
                            <span th:if="${credentialStatus == 'EXPIRED'}">
                                Your credential has expired. Details regarding the expired credential are listed below:
                            </span>
                        </p>

                        <div class="details-container">
                            <p style="text-align: left; margin:0.5;">
                                Credential ID: <span th:text="@{${credentialId}}">[credentialId]</span>
                            </p>

                            <p style="text-align: left; margin:0.5;">
                                Type:  <span th:text="@{${type}}">[type]</span>
                            </p>
                        </div>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
